@model DogGo.Models.Walker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker</h4>
    <hr />
        
        <h1 class = "mb-4">
            Walker Details
        </h1>
    <section class="container">
       
         
        <img class="ml-3 bg-info rounded-circle" src="@Model.ImageUrl" style="float: left; margin-right: 20px; width:50px" alt="avatar" />
        
        <div>
            <label class="font-weight-bold">
             Name:    
            </label>
            <span>
                @Html.DisplayFor(model => model.Name)
            </span>
        </div>
        
        <div>
        <label class = "font-weight-bold">
            Neighborhood:
        </label>
        <span >
            @Html.DisplayFor(model => model.Neighborhood.Name)
        </span>
        </div>
        
    </section>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
